.be-warning {
    padding: 12px;
    background: #fff;
    font-size: 13px;
    color: #d57f4d;
    font-weight: bold;
    margin: 20px 0 20px;
    border: 1px solid #d57f4d;
    text-align: center;
}

.error {
    background: #f6e4da;
}

.errors {
    background: #f6e4da;
    border: 0;
    margin: 3px -7px 13px -7px;
    padding: 2px 0 2px 7px;

    font-size: 11px;
    color: #808080;    
}
#contentText .errors li {
    padding: 10px 0;
    list-style: none;
    font-size: 11px;
    color: #808080;  

}

.be-box1 {
    padding: 6px 12px;
    background: #9c9d9f;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    margin: 0 0 5px;
}
.be-box2 {
    padding: 6px 12px;
    background: #dadadc;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    margin: 0 0 5px;
}
.be-box3 {
    padding: 4px 12px;
    background: #d57f4d;
    font-size: 11px;
    color: #fff;
    font-weight: normal;
    margin: 0 0 5px 260px;
    overflow: hidden;
}
.be-box3 .left {
    width: 220px;
    float: left;
}
.be-box3 .right {
    width: 220px;
    float: right;
    text-align: right;
}
.be-box4 {
    margin: 0 -7px 5px 260px;
    overflow: hidden;
}
.be-box4 div {
    width: 80px;
    float:left;
    margin: 0 7px 0 0;
    background: #d57f4d;
    text-align: center;
}
.be-box4 div span {
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}
.be-left {
    width: 248px;
    float: left;
}
.be-text1 {
    color: #D16E35;
}
.be-text2 {
    color: #000;
    font-size: 11px;
    font-weight: normal;
}
.be-button {
    text-align: right;
    clear: both;
}
.be-button input[type=button], .be-button input[type=submit] {
    background: #d57f4d;
    border: 0;
    color: #fff;
    font-size: 11px;
    padding: 1px 15px;
    cursor: pointer;
}

input[type=text] {
    background: #f4f4f5;
    width: 450px;
    border: 0;
    color: #000;
    font-size: 11px;
    padding: 1px 2px;
    margin: 0 0 3px 0;
}

fieldset {
    border: 0;
    margin: 3px -7px 13px -7px;
    padding: 2px 0 2px 7px;
}
fieldset h3 {
    color: #D16E35;
    font-size: 14px;
    padding: 10px 0 12px;
}
.be-headline {
    color: #D16E35;
    font-size: 14px;
    padding: 10px 0 12px;
    font-weight: bold;
}
.be-label {
    width: 255px;
    margin-right: 5px;
    font-size: 11px;
    color: #808080;
}

.be-group {
    width: 385px;
    height: 60px;
    float: left;
    font-size: 11px;
    color: #808080;
}

label {
    float:left;
    text-align:left;
}


/* result */
#be-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    z-index: 100;
    display: block;
    opacity: 0.75;
}

* html #be-overlay {	/* IE6 */
                     position: absolute;
                     width: 100%;
}
#be-result {
    background: #dadadc;
    margin: 15px 0 20px;
    padding: 15px 20px;
    position:fixed;
    width: 736px;
    top: 20%;

    left: auto;
    right: auto;
    z-index:101;
    display: none;

}
#be-result h1 {
    color: #D16E35;
    font-size: 18px;
    font-weight: bold;
    margin: 2px 0 15px;
}
#be-result p {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0 15px;
}

#be-result p span {
    color: #D16E35;
    font-size: 12px;
    font-weight: bold;
}
#be-result-bar {
    height: 100px;
    background: url("../pics/be-bar.png") no-repeat 15px 0;
    margin: 0 -15px;
}
#be-result-arrow {
    height: 30px;
    text-align:right;
}
#be-result-text p {
    background: #ededed;
    color: #000;
    padding: 20px 45px 20px 45px;
    font-size: 13px;
    font-weight: normal;
}





.ui-radio-state-disabled,
.ui-radio-state-checked-disabled,
.ui-radio-state-disabled-hover,
.ui-radio-state-checked-disabled-hover {
    color: #999;
}

span.ui-checkbox,
span.ui-radio {
    display: block;
    float: left;
    width: 80px;
    height: 32px;
    margin: 3px 7px 18px 0; 
    background: url("../pics/be_checkbox.png") 0 -32px no-repeat;
}

span.ui-helper-hidden {
    display: none;
}

span.ui-radio-state-hover,
span.ui-checkbox-state-hover {
    background-position: 0 -96px;
}

span.ui-checkbox-state-checked {
    background-position: 0 0;
}

span.ui-checkbox-state-checked-hover {
    background-position: 0 -64px;
}
span.ui-radio-state-checked-disabled-hover,
span.ui-radio-state-checked-disabled,
span.ui-radio-state-checked {
    background-position: 0 -128px;
}


span.ui-radio-state-checked-hover {
    background-position: 0 -160px;
}

.ui-helper-hidden-accessible {
    position: absolute;
    left: -999em;
}
